footer {
    position: relative;
    background-color: var(--secondary); /*changer les couleur et les padding pour avoir ceux de ton projet*/
    padding: 30px;
    padding-bottom: 40px;
  } 

footer > img { 
    height: 90px;
    width: auto;
}

.mmi_click { /*créé une class pour pouvoir changer que certain texte de couleur*/
    text-align: center;
    color: var(--rose);
    font-family: var(--font-sans-serif);
}

footer > p {
    text-align: center;
    color: var(--text);
    font-family: var(--font-sans-serif);
}

footer > h4 {
    position: absolute;
    top: 40px;
    left: 110px;
    color: var(--text);
    font-family: var(--font-mono);
    font-size: var(--name-footer);
}

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    margin: 0 15px;
}

.mmilogo {
    display: flex;
    justify-content: flex-end;
}

.mmilogo > img {
    position: relative;
    width: 73,62px;
    height: 85px;
}