header {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: var(--secondary);
    padding: 20px 15px;
    height: 170px;
}

/** ">" est utilisé pour selectionner 
 * uniquement les balises <img/> sous <header>
 */
header > a > img { 
    height: 120px;
    width: auto;
}

header > span {
    color: var(--white); /* Ajouter une couleur au texte */
    padding-bottom: 15px;
    padding-left: 15px; /* Mettre de l'espacement (ici uniquement à gauche) */
    text-transform: uppercase; /* Mettre en majuscule */
    font-family: var(--font-mono); /* appliquer une police */
    font-size: var(--title-xxl);
}

header nav ul li {
    color: var(--white);
    font-family: var(--font-mono); /* appliquer une police */
    font-size: var(--title-xl);
}

/**
 * Bouton d'ouverture du menu 
 */
.open_navigation {
    position: absolute;
    background-color: transparent; /* transparent + border none car bouton */
    border: none;
    top: 20px;
    right: 15px;
    width: 45px; /* Comme 0 contenu on defini une largeur et hauteur */
    height: 25px;
    display: flex; /* Positionnement flex, regarder flexboxfroggy */
    flex-direction: column;
    justify-content: space-between;
}

.open_navigation::before,
.open_navigation::after,
.open_navigation span {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: var(--white);
    border-radius: 5px; /* Arrondie des barres */
    transition: transform .4s, opacity .4s; /* Definition d'un effet de transition */
}

.open-menu .open_navigation span {
    opacity: 0; /* Jouer avec l'opacité si on doit faire un effet de transition (a cumuler avec visibility: hidden si besoin) */
}

.open-menu .open_navigation::before {
    transform: rotate(45deg) translate(9px, 9px); /* rotation + translation */
}

.open-menu .open_navigation::after {
    transform: rotate(-45deg) translate(6px, -7px);
}

/**
 * Menu 
 */
header > nav {
    position: fixed;
    top: 170px;
    left: 0;
    width: 100%;
    height: calc(100% - 170px); /* Calculer automatiquement la hauteur en fonction de la hauteur du header */
    background-color: #470001;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s; /* Definition d'un effet de transition */
}

header > nav > ul > li {
    font-family: var(--font-mono); /* appliquer une police */
    font-size: var(--title-xl);
    color: var(--text);
    text-decoration: none;

}

.open-menu {
    overflow: hidden;
}

.open-menu header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.open-menu header > nav {
    opacity: 1;
    visibility: visible;
}

main {
    background-color: #470001;
}
