main {
    position: relative;
    padding: 0 25px;
    padding-top: 30px;
    padding-bottom: 20px;
}

main.with-lang {
    padding-top: 60px;
}

/**
 * Introduction
 */
#intro {
    text-align: center;
    color: var(--text);
    font-family: var(--font-sans-serif);
    padding: 10px 0;
    margin-bottom: 40px;
    border-top: 1px solid var(--block);
    border-bottom: 1px solid var(--block);
}

#intro p {
    margin: 0;
}

#intro .actions {
    padding-top: 15px;
}

#intro .actions .btn {
    margin-left: 15px;
}

/**
 * Articles
 */
#articles article {
    background-color: var(--block-opacity);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 40px;
}

#articles article .imageb {
    position: relative;
}

#articles article .content {
    margin: 10px;
}

#articles article .content > h2 {
    color : var(--text);
    font-family: var(--small_title);
    font-size: var(--title-lg)
}

#articles article .content > p {
    color: var(--text);
    font-family: var(--text);
}

.textes-à-part {
    color: var(--text);
    font-family: var(--text);
}

/**
 * Bouton
 */
.btn {
    background-color: var(--block);
    border-radius: 5px;
    box-shadow: 0px 3px 3px var(--secondary);
    color: var(--text);
    padding: 5px 10px;
    border: none;
    text-decoration: none;
}

.fab {
    background-color: var(--secondary);
    color: var(--text);
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(60%);
}

.btn-envoyer {
    background-color: var(--block);
    border-radius: 5px;
    box-shadow: 0px 3px 3px var(--secondary);
    color: var(--text);
    padding: 5px 10px;
}

.glsr {
    border-radius: 5px;
    background-color: var(--block-opacity);
    border-color: var(--block);
    box-shadow: 0px 3px 3px var(--secondary);
    font-family: var(--font-mono); /* appliquer une police */
    font-size: var(--title-xl);
    color: var(--text);
    padding: 7px 102px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.glsr a {
    color: var(--text);
    font-family: var(--font-mono); /* appliquer une police */
    font-size: var(--title-xl); 
    text-decoration: none; 
}


/** Polices **/
main > h1 {
    color: var(--title_page);
    font-family: var(--font-mono); /* appliquer une police */
    font-size: var(--title-xl);
    text-align: center;
}

main > h2 {
    color: var(--small_title);
    font-family: var(--font-sans-serif); /* appliquer une police */
    font-size: var(--title-lg);
}

main > div > h2 {
    color: var(--small_title);
    font-family: var(--font-sans-serif); /* appliquer une police */
    font-size: var(--title-lg);
    padding-top: 50px;
}

main > div > p {
    color: var(--text);
    font-family: var(--font-sans-serif); 
}

main > section > div > p {
    color: var(--text);
    font-family: var(--font-sans-serif); 
}

.frise {
    margin-left: 20px;
}

.frise p {
    margin-left: 60px;
    margin-top: 30px;
}

.frise > .flechefrise {
    position: absolute;
    left: 20px;
    height: 1200px;
}

.frise img {
    position: absolute;
    width: 30px;
    height: 30px;
}

main > div > form > label {
    color: var(--text);
    font-family: var(--font-sans-serif);
}

main > p {
    color: var(--text);
    font-family: var(--font-sans-serif); 
    height: 200px
}

main > dl > dt {
    color: var(--rose);
    font-family: var(--font-sans-serif); /* appliquer une police */
    font-size: var(--title-lg);
    padding-top: 20px;
}

main > dl > dd {
    color: var(--text);
    font-family: var(--text);
}

main span {
    color: var(--text);
    font-family: var(--text);
}

/** Images **/
.changlang {
    width: 50px;
    height: auto;
}

.imagart3 {
    position: relative;
    top: -60px;
    right: -40px;
}

.imagart2 {
    position: relative;
    left: -40px;
    bottom: -40px;
}

#contenu-art img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 235px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
 }

.langs {
    border-color: black;
    border-radius: 5px;
    margin: 5px 10px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 15px;
}

.langs p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    border: 2px solid var(--secondary);
    border-radius: 10px;
}

.langs ul {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0;
    list-style: none;
    padding: 5px;
    left: 0;
    background: var(--primary);
    width: 100%;
}

.langs ul.show {
    display: block;
}

.langs ul a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-decoration: none;
}

.langs img {
    width: 25px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.langs svg {
    width: 25px;
    height: 25px;
}

.langs svg path {
    fill: white;
}

.button2 {
    position: relative;
    background-color: var(--block);
    border-radius: 5px;
    border-color: var(--block);
    box-shadow: 0px 3px 3px var(--secondary);
    color: var(--text);
}

.content > h2 {
    color : var(--text);
    font-family: var(--small_title);
    font-size: var(--title-lg);
    padding-top: 15px;
    padding-bottom: 5px;
}

.content > p {
    color: var(--text);
    font-family: var(--text);
}

.number-help {
    color : var(--rose);
    font-family: var(--small_title);
    font-size: var(--title-xl);
    text-align: center;
}

.personal-contact {
    background-color: var(--block-opacity);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text);
}

main input {
    background-color: var(--block-opacity);
    border-color: var(--primary);
    border-style: solid ;
    border-radius: 5px;
}

.ctct {
    border-color: var(--primary);
    border-style: solid ;
    border-radius: 5px;
}

main li {
    color: var(--text);
    font-family: var(--text);
}

.autresprjt img {
    width: 90px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.autresprjt div {
    margin-top: 25px;
    text-align: center;
}

.propoarts {
    background-color: var(--block-opacity);
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.propoarts img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 255px;
    height: auto;
}

.propoarts h2 {
    color : var(--text);
    font-family: var(--font-bold);
    font-size: var(--title-lg)
}

.propoarts p {
    color: var(--text);
    font-family: var(--text);
}

.autresprjt a {
    font-family: var(--font-sans-serif); /* appliquer une police */
    font-size: var(--text-sm);
    color: var(--text);
    text-decoration: none;
}

